<%= javascript_include_tag "reading_only" %>

<h1>Readings#new</h1>
<button type='button' id="start_connection">Start Connection</button>
<button type='button' id="end_connection">End Connection</button>
<%= render 'form' %>

