Current Location: <%= link_to "Dashboard", user_sensors_path(@user.id) %> > <b>User Profile</b>
<h1>User Profile</h1>

<ul>
  <li>ID: <%= @user.id %></li>
  <li>username: <%= @user.username %></li>
</ul>
