<h1>Sensors#index</h1>
<p>Find me in app/views/sensors/index.html.erb</p>

<ul>
<% @sensors.each do |sensor| %>
  <li>ID: <%= link_to sensor.id, sensor_readings_path(sensor.id) %> | Type: <%= sensor.sensorType %></li>
<% end %>
<ul>